* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #dfdfdf;
}

.container {
  display: flex;
  flex-direction: column;
}

.graph-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  border: 0.5em solid #dfdfdf;
  border-radius: 1em;
  /* margin: 1em; */
  padding: 0.5em;
  background-color: white;
  flex: 1 0 auto;
  /* max-width: 70vw; */
}

.item h1 {
  margin: 0;
}

.table-item {
  border-radius: 0.5em;
  padding: 0.3em;
  color: gray;
}

.table-item b {
  color: black;
}

.selected {
  background-color: #dfdfef;
}

.line-chart {
  min-width: 0;
  max-width: 1000px;
  min-height: 0;
  flex: 3 1 auto;
}

.bar-chart {
  min-width: 0;
  max-width: 640px;
  min-height: 0;
  flex: 1 1 auto;
}

canvas {
  min-width: 0;
  min-height: 0;
  flex: 1 1 auto;
}